services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev   # ← ここを追加（開発用Dockerfileを使う）
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"
    volumes:
      - .:/rails
      - ./storage:/rails/storage
      - bundle:/usr/local/bundle   # ← ここを追加（gemを永続化）
    ports:
      - "3000:3000"
    depends_on:
      - db
    stdin_open: true
    tty: true
    environment:
      DATABASE_HOST: db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: password
      RAILS_ENV: development
      SELENIUM_DRIVER_URL: http://chrome:4444/wd/hub
  cron:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: >
      bash -c "
      bundle exec whenever --update-crontab --set environment=development &&
      touch /rails/log/cron.log &&
      cron &&
      tail -f /rails/log/cron.log
      "
    volumes:
      - .:/rails
      - ./storage:/rails/storage
      - bundle:/usr/local/bundle
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: password
      RAILS_ENV: development
  chrome:
    image: selenium/standalone-chromium:latest
    shm_size: 2gb
    ports:
      - "4444:4444"

volumes:
  postgres_data:
  bundle:
