.pixel-box {
  background: white;
  position: relative;

  /* ドット枠っぽい二重フチ */
  box-shadow: 0 0 0 4px #a9a9a9, 4px 4px 0 4px #696969;
}

/* ドット絵風の枠のスタイル */
.pixel-border {
  position: relative;
  box-shadow: 
    0 -8px 0 0 #000000,
    8px -8px 0 0 #000000,
    8px 0 0 0 #000000,
    8px 8px 0 0 #000000,
    0 8px 0 0 #000000,
    -8px 8px 0 0 #000000,
    -8px 0 0 0 #000000,
    -8px -8px 0 0 #000000 !important;
  
  border: none !important;
}

.bg-pixel-sky {
  background-color: #a7eef0;

  /* 雲レイヤーを複数重ねる */
  background-image:
    url("/assets/pixel-clouds.png"),
    url("/assets/pixel-clouds.png"),
    url("/assets/pixel-clouds.png"),
    url("/assets/pixel-clouds.png"),
    url("/assets/pixel-clouds.png");

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

  /* それぞれ位置を変える */
  background-position:
    1% 100px,
    98% 30px,
    10% 800px,
    95% 900px,
    80% 200px;

  /* それぞれサイズも変える（縦横比崩さない） */
  background-size:
    auto 350px,
    auto 400px,
    1000 900px,
    auto 1000px,
    850 800px;

  min-height: 100vh;
}

.bg-top-page {
  background-image:
    url("/assets/birds.png"),               /* ① カラス（最前面） */
    url("/assets/buildings.png"),        /* ② 建物（その下） */
    linear-gradient(#4da3ff, #a7eef0);      /* ③ グラデーション（最背面） */

  background-repeat:
    no-repeat,   /* カラス → 繰り返さない */
    repeat-x,    /* 建物 → 横だけリピート */
    no-repeat;   /* グラデ → 繰り返し不要 */

  background-position:
    right 150px top 700px,   /* カラス → 位置は自由に調整OK */
    center bottom,         /* 建物 → 画面下ぴったり */
    center top;            /* グラデーション */

  background-size:
    auto 150px,     /* カラスのサイズ（高さ120px）自由に調整OK */
    auto 200px,     /* 建物の高さ200px */
    cover;          /* グラデは全面 */

  min-height: 100vh;
}

/* .fade-in-initial {
  opacity: 0;
  transform: translateY(6px);
}

.fade-in-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms ease, transform 600ms ease;
} */



